@import '../../config/mixins';
@import '../../config/variables';

.advertisement-flex {
    margin-top: 9.7em;
    @include flex-gap(0px);
    padding-left: 4em;
    
    img {
        height: 50vh;
        object-fit: cover;
    }
    
    .content-ad {
        background-color: $black-soft;
        padding-left: 4em;
        margin-top: 2em;
        padding-bottom: 2em;

        h2 {
            font-family: 'Jost';
            font-size: 2.5em;
            color: #FFF;
            padding-top: 1em;
        }

        p {
            width: 60%;
            color: #FFF;
            padding-top: 1em;
        }
    }

}