@import './variables';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Jost';
    src: url('src/assets/fonts/Jost-VariableFont_wght.ttf') format('woff2'), // Para navegadores modernos
         url('src/assets/fonts/Jost-VariableFont_wght.ttf') format('woff'),   // Para navegadores más antiguos
         url('src/assets/fonts/Jost-VariableFont_wght.ttf') format('truetype'); // Fall back a TTF
    font-weight: normal; // Ajusta el peso si es necesario
    font-style: normal;  // Ajusta el estilo si es necesario
}
@font-face {
    font-family: 'Jost-two';
    src: url('src/assets/fonts/Jost-ThinItalic.ttf') format('woff2'), // Para navegadores modernos
         url('src/assets/fonts/Jost-ThinItalic.ttf') format('woff'),   // Para navegadores más antiguos
         url('src/assets/fonts/Jost-ThinItalic.ttf') format('truetype'); // Fall back a TTF
    font-weight: normal; // Ajusta el peso si es necesario
    font-style: normal;  // Ajusta el estilo si es necesario
}


body {
    background-color: $background-color;
    // font-family: 'Jost';
}

h1, h2, h3, h4, h5, h6, span, p, a, li, button, label, input, textarea, strong {
    font-family: 'Jost';
}

::selection {
    background-color: $medium-gray;
    color: #FFF;
}