$alert-color: #D80000; // Color rojo para alertas
$hover-color: #A8A8A8; // Color para hover en botones
$background-color: #f2f2f2; // Color de fondo estilo Old Money
$specific-color: #BCAAA4; // Color específico para algún elemento


$black-main: #000000;      // Negro principal
$black-soft: #1A1A1A;     // Negro suave
$dark-gray: #333333;       // Gris oscuro
$medium-gray: #4D4D4D;     // Gris medio
$light-gray: #B3B3B3;      // Gris claro
